
body {
  background-color: var(--cor-fundo);
}

/* logo */
.navbar-brand {
  color: var(--cor-fonte-titulo);
}

.navbar-brand:hover {
  color: var(--cor-fonte-titulo);
}
/* Fim Logo */

/* menu */
#menu {
  padding: 5px;
  width: fit-content;
  background-color: var(--cor-primaria-70);
  border-radius: 40px;
}

.nav-link {
  color: var(--cor-white);
  border-radius: 20px;
}

.nav-link:hover {
  background-color: var(--cor-secundaria-70);
  color: var(--cor-black);
}

.active {
  background-color: var(--cor-secundaria-50);
}
/* Fim Menu */

/* header */
header {
  padding: 200px 0;
}

h1 {
  color: var(--cor-fonte-titulo);
  font-family: var(--fonte-principal);  
  font-size: var(--tamanho-fonte-cabecalho);
  font-weight: 700;
  text-align: center;
}

h2 {
  color: var(--cor-fonte-corpo);
  font-family: var(--fonte-secundaria);
  font-size: var(--tamanho-fonte-corpo-cabecalho);
  font-weight: 300;
  text-align: center;
  padding-top: 90px;
}

/* Section */
h3 {
  font-size: 60px;
  font-family: var(--fonte-principal);
}

/* Section Abilicade */
#abilidade {
  color: var(--cor-fonte-titulo);
  font-size: 40px;
}

span{
  color: var(--cor-primaria);
}

#row_padding {
  padding-bottom: 100px;
}

/* Section Projetos */

/* Section Contato*/
#projeto {
  color: var(--cor-fonte-titulo);
}

#contato {
  color: var(--cor-white);
  text-decoration: none;
  font-size: 35px;
  font-family: var(--fonte-secundaria);
}

#contato:hover {
  color: var(--cor-fonte-titulo);
}

/* Section Formulário */

h4 {
  color: var(--cor-fonte-titulo);
  font-family: var(--fonte-principal);
  font-size: 55px;
  text-align: center;
}

#txt_form_p {
  color: var(--cor-fonte-corpo);
  font-family: var(--fonte-secundaria);
  font-size: 25px;
  text-align: center;
}

#formulario {
  padding: 25px;
}

.btn {
  background-color: var(--cor-logo);
  font-family: var(--fonte-secundaria);
  color: var(--cor-black);
  font-weight: 400;
  border-radius: 10px;
  padding: 10 60px;
}

.btn:hover {
  background-color: var(--cor-logo-50);
}

/* footer */

footer {
  font-size: 20px;
  color: var(--cor-fonte-titulo);
}

#midia-social:hover {
  color: var(--cor-white);
}

.text-end {
font-size: 15px;
}